@import '../Vars.scss';

.contact-us {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 550px;
  justify-content: center;
  position: relative;
  width: 100%;

  .bg-contact {
    bottom: -30px;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: -1;

    img {
      width: 100%;
    }
  }

  h3 {
    font-size: 5rem;
  }
}
