@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

$btn-color: #0c2131;
$purple-color: #5b5ba2;
$robot-font: 'Roboto', sans-serif;
$rose-color: #ea516e;
$sky-blue: #52b6b9;
$transparent: transparent;
$white-color: #fff;
$yellow-color: #f6ea5e;
